@font-face {
    font-family: recipekorea;
    src: url(../font/Recipekorea.eot) format('embedded-opentype'),
        url(../font/Recipekorea.woff) format('woff'),
        url(../font/Recipekorea.ttf);
}

@font-face {
    font-family: nanum_square;
    src: url(../font/NanumSquareB.ttf),
        url(../font/NanumSquareB.woff) format('woff'),
        url(../font/NanumSquareB.eot) format('embedded-opentype');
}