body {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0px;
}

main {
  display: block;
}

#mainView {
  position: relative;
  width: 100%;
  height: 100%;
}
.user, .nim, .logout {
  font-family: 'nanum_square';
}
.logout a {
  box-sizing: content-box;
  text-decoration: none;
  color: #fff;
  padding: 3px;
  border-radius: 5px;
  border: 1px solid #a8dbff;
  background-color: #a8dbff;
}
.logout a:hover {
  color: #a8dbff;
  background-color: #fff;
  border: 1px solid #a8dbff;
}