.Desktop---1 {
    width: 1440px;
    height: 1646px;
    flex-grow: 0;
    padding: 23px 0 0;
    background-color: #fff;
    margin: 0 auto;
  }
.logo a {
  text-decoration: none;
  color: #fff;
}
  .menu {
    width: auto;
    height: 55px;
  }

  span.logo{
    width: 35px;
    height: 26px;
    margin: 0 127px 24px 260px;
    font-family: AppleSDGothicNeoM00;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    flex-grow: 0;
    padding: 27px 22px 28px 24px;
    background-color: #2f80ed;
    border-radius: 50%;
    color: #fff;
  }
span.logout a {
  text-decoration: none;
  color: #000;
}
  span.menu1{
    width: 52px;
    height: 26px;
    margin: 0 62px 24px 7px;
    font-family: AppleSDGothicNeoM00;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }

  span.menu2{
    width: 52px;
    height: 26px;
    margin: 0 62px 24px;
    font-family: AppleSDGothicNeoM00;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }

  span.menu3{
    width: 70px;
    height: 26px;
    margin: 0 168px 24px 62px;
    font-family: AppleSDGothicNeoM00;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }
  span.user {
    font-family: AppleSDGothicNeoM00;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }
.nim {
  font-family: AppleSDGothicNeoM00;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
  span.logout{
    height: 26px;
    margin: 0 5px 5px;
    font-family: AppleSDGothicNeoM00;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }

  img.free-icon-alarm-bell-1059063-1 {
    width: 23px;
    height: 25px;
    margin: 0 20px 0;
    object-fit: contain;
    opacity: 0.8;
  }

  img.premium-icon-user-2530777-1 {
    width: 25px;
    height: 25px;
    flex-grow: 0;
    object-fit: contain;
  }

  .Rectangle-1 {
    width: 100%;
    height: 398px;
    margin: 19px 0 38px;
    background-color: #d9d9d9;
  }

  div.block1 {
    width: 920px;
    margin: 0 auto;
    padding: 38px 0 86px 0;
  }

  div.block2 {
    width: 920px;
    margin: 0 auto;
    padding: 0 0 86px 0;
  }

  div.card {
    display: flex;
  }
  span.roadmap {
    width: 111.1px;
    height: 33px;
    font-family: AppleSDGothicNeoB00;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }

  div.plus {
    display: inline-block;
    float: right;
  }

  span.plus1{
    width: 47px;
    height: 23px;
    flex-grow: 0;
    margin: 0 8px 0 0;
    font-family: AppleSDGothicNeoL00;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #4f4f4f;
  }

  img.free-icon-arrow-right-6423875-1 {
    width: 21px;
    height: 21px;
    flex-grow: 0;
    margin: 1px 0 1px 8px;
    object-fit: contain;
  }

  .Rectangle-2 {
    width: 294px;
    height: 213px;
    flex-grow: 0;
    margin: 0 20px 0 0;
    border-radius: 3px;
    background-color: #d9d9d9;
  }

  .title {
    font-family: AppleSDGothicNeoM00;
    font-size: 18px;
    margin: 18px 0 5px 0;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }

  .info {
    font-family: AppleSDGothicNeoL00;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #828282;
  }

  .Line-2 {
    width: 922px;
    height: 1px;
    margin: 15px 0 12px 0;
    background-color: #e0e0e0;
  }

  .text {
    margin: 26px 0 19px 0;
    font-family: AppleSDGothicNeoL00;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #4f4f4f;
  }