<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/fontloader.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/maincontent.css}">
    <link rel="stylesheet" th:href="@{/css/board.css}">
    <link rel="stylesheet" th:href="@{/css/communityDetail.css}">
    <title>CommunityDetail</title>
</head>
<body>

<header>
    <div class="header_wrap">
        <h2 class="unselectable clickable" onclick="location.href = '/'">코디</h2>
        <div class="menubox">
            <button class="unselectable clickable">내 프로필</button>
            <button class="unselectable clickable commu" onclick="location.href='/list'">커뮤니티</button>
            <button class="unselectable clickable">로드맵</button>
            <button class="unselectable clickable">가이드</button>
            <img th:src="@{/imgs/alarm.svg}" class="free-icon-alarm-bell-1059063-1">
            <div class="unselectable clickable usermenu"></div>
            <span class="user" th:text="${username}"></span> <span class="nim">님</span>
            <span class="logout"><a href="/user/logout">로그아웃</a></span>
        </div>
    </div>
</header>
<div class="Desktop---1">
    <div class="co">
        <div class="code">
            <div class="code1">
                <div class="title" th:text="${community.community_title}">
                </div>
                <div class="writer" th:text="${community.userName}">
                </div>
                <div class="code2">
                    <div class="date"
                         th:text="${community.createdAt} ? ${#temporals.format(community.createdAt,'yyyy-MM-dd HH:mm')} : ${community.createdAt}"></div>
                    <div class="count" th:text="'조회수 '+ ${community.viewCounts}"></div>
                </div>
                <div class="line2"></div>
                <div th:if="${community.imgWhether} == true">
                    <img th:src="|/image/${community.getUploadFile().getImagePath()}|">
                </div>
                <div class="content" th:text="${community.community_contents}"></div>

                <div class="editDelete" th:if="${idCheck}">
                    <div class="button">
                        <button class="b"><a th:href="@{'/community/editForm/' + ${community.id}}">수정</a></button>
                    </div>
                    <div class="button" th:if="${idCheck}">
                        <form id="delete-form" th:action="@{'/community/delete/' + ${community.id}}" method="POST">
                            <input type="hidden" name="_method" value="DELETE"/>
                            <button class="b"><a>삭제</a></button>
                        </form>
                    </div>
                </div>
                <button class="buttonLike" id="likeUpdate"><img th:src="@{/icons/heart.png}" class="heart">좋아요<div th:text="${community.likeCounts}"></div>
                </button>
                <div class="line"></div>

                <form id="comment-form" class="reply">
                    <div id="comment-box" class="form-group">
                        <div class="code3" id="comment-show"></div>
                        <div id="comment-writer" class="form-group">
                            <textarea class="retext" rows="10" cols="124" placeholder="댓글을 남겨주세요"
                                      maxlength="200"></textarea>
                            <button type="button" class="b attach-comment"><a>댓글 등록</a></button>
                        </div>
                    </div>
                </form>
                <!--                    <input type="text" class="retext">-->
                <!--                    <div class="button">-->
                <!--                        <button class="b"><span>댓글 등록</span></button>-->
                <!--                    </div>-->
            </div>
        </div>
    </div>
    <div class="communityId" v></div>
</div>
</body>
<script th:replace="fragments.html :: reply">
</script>
<script>
    const btn = document.getElementById('likeUpdate')
    console.log(likeCheck);
    btn.addEventListener('click', function () {
        if (likeCheck) {
            btn.style.backgroundColor = "#d8d8d8";
        } else {
            btn.style.backgroundColor = "#2f80ed";
        }
    });
    $('#likeUpdate').click(function () {
        $.ajax({
            url: '/likeUpdate/' + communityId,
            type: 'POST',
            data: `${communityId}`,
            success: function (data) {
                console.log("success");
            },
            error: function () {
                console.log("error");
            }
        });
    });
</script>
</html>


<!--<!DOCTYPE html>-->
<!--<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">-->
<!--<head th:replace="fragments.html :: head">-->
<!--    <meta charset="UTF-8">-->
<!--    <title>게시글 확인</title>-->
<!--</head>-->
<!--<body>-->
<!--<div>-->
<!--    <h2 th:text="'제목 : ' + ${community.community_title}"></h2>-->
<!--    <p th:text="'조회수 : ' + ${community.viewCounts}"></p>-->
<!--    <p th:text="'작성날짜 : ' + ${community.createdAt} ? ${#temporals.format(community.createdAt,'yyyy-MM-dd HH:mm')} : ${community.createdAt}"></p>-->
<!--    <p th:text="'작성자 : ' + ${community.userName}"></p>-->
<!--    <div th:if="${community.imgWhether} == true">-->
<!--        <img th:src="|/image/${community.getUploadFile().getImagePath()}|">-->
<!--    </div>-->
<!--    <p th:text="'내용 : ' + ${community.community_contents}"></p>-->
<!--</div>-->
<!--<div>-->
<!--    <div th:if="${idCheck}">-->
<!--        <button><a th:href="@{'/community/editForm/' + ${community.id}}">수정</a></button>-->
<!--    </div>-->
<!--    <div th:if="${idCheck}">-->
<!--        <form id="delete-form" th:action="@{'/community/delete/' + ${community.id}}" method="POST">-->
<!--            <input type="hidden" name="_method" value="DELETE"/>-->
<!--            <button type="submit">삭제</button>-->
<!--        </form>-->
<!--    </div>-->
<!--</div>-->

<!--<form id="comment-form" class="col-sm-8">-->
<!--    <div id="comment-box" class="form-group">-->
<!--        <div id="comment-show"></div>-->
<!--        <div id="comment-writer" class="form-group">-->
<!--            <button type="button" class="attach-comment btn btn-outline-dark mt-2">댓글등록</button>-->
<!--            <textarea class="form-control mt-2" rows="10" cols="124" placeholder="댓글을 남겨주세요" maxlength="200"></textarea>-->
<!--        </div>-->
<!--    </div>-->
<!--</form>-->
<!--<script th:replace="fragments.html :: reply">-->
<!--</script>-->
<!--</body>-->
<!--</html>-->