<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>community</title>
    <style>
        th, tr, td {border: 1px solid black; margin: 10px;}
        ul, li {text-decoration: none; display: inline; margin:10px}
    </style>
</head>
<body>
<div>
    <h1>커뮤니티</h1>
</div>
<div>
    <div>
        <table>
            <thead>
            <tr>
                <th>제목</th>
                <th>작성자</th>
                <th>작성날짜</th>
                <th>조회수</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="community : ${communities}">
                <td><a th:href="'/community/'+${community.id}" th:text="${community.community_title}"></a></td>
                <td th:text="${community.userName}"></td>
                <td th:text="${community.createdAt} ? ${#temporals.format(community.createdAt,'yyyy-MM-dd HH:mm')} : ${community.createdAt}"></td>
                <td th:text="${community.viewCounts}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <br>

    <div th:if="${!communities.isEmpty()}">
        <nav>
            <ul>
                <li>
                    <a th:href="@{/list/?page=1}">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li >
                    <a th:href="@{/list/?page={page} (page = ${pagenation.prevBlock})}" >
                        <span aria-hidden="true">&lt;</span>
                    </a>
                </li>
                <th:block  th:with="start = ${pagenation.startPage}, end = ${pagenation.endPage}">
                    <li
                        th:with="start = ${pagenation.startPage}, end = ${pagenation.endPage}"
                        th:each="pageButton : ${#numbers.sequence(start, end)}">
                        <a th:href="@{/list/?page={page} (page = ${pageButton})}" th:text=${pageButton}></a>
                    </li>
                </th:block>
                <li >
                    <a th:href="@{/list/?page={page} (page = ${pagenation.nextBlock})}">
                        <span aria-hidden="true">&gt;</span>
                    </a>
                </li>
                <li >
                    <a  th:href="@{/list/?page={page} (page = ${pagenation.totalPageCnt})}">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <br>
    <div>
        <a th:href="@{/create}">글쓰기</a>
    </div>
</div>
</body>
</html>