<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments.html :: head"></head>
<body>
  <div>
    <h2 th:text="'제목 : ' + ${community.community_title}"></h2>
      <p th:text="'조회수 : ' + ${community.viewCounts}"></p>
    <p th:text="'작성날짜 : ' + ${community.createdAt} ? ${#temporals.format(community.createdAt,'yyyy-MM-dd HH:mm')} : ${community.createdAt}"></p>
    <p th:text="'작성자 : ' + ${community.userName}"></p>
    <p th:text="'내용 : ' + ${community.community_contents}"></p>
  </div>
  <!-- 댓글 작성-->
  <form id="comment-form" class="col-sm-8">
      <div id="comment-box" class="form-group">
          <div id="comment-show"></div>
          <div id="comment-writer" class="form-group">
              <button type="button" class="attach-comment btn btn-outline-dark mt-2">댓글등록</button>
              <textarea class="form-control mt-2" rows="10" cols="124" placeholder="댓글을 남겨주세요" maxlength="200"></textarea>
          </div>
      </div>
  </form>
  <script th:replace="fragments.html :: reply"></script>
</body>
</html>