<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>커뮤니티 - 글쓰기</title>
</head>
<body>
    <form th:action="@{/create}" method="POST">
        <label for="inputTitle">제목</label>
        <input type="text" name="community_title" id="inputTitle"><br>
        <label for="inputContent">내용</label>
        <textarea type="text" name="community_contents" id="inputContent"></textarea><br>
        <input type="submit" value="등록">
        <a href="/list" value="취소">취소</a>
    </form>
<!-- 댓글 작성-->
    <form>
        <textarea class="form-control" rows="4" placeholder="댓글을 입력하세요"></textarea>
        <button type="submit">등록</button>
    </form>
</body>
</html>