<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>커뮤니티 게시글 수정</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/fontloader.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/maincontent.css}">
    <link rel="stylesheet" th:href="@{/css/board.css}">
    <link rel="stylesheet" th:href="@{/css/communityForm.css}">

</head>
<body>
<div>
    <header>
        <div class="header_wrap">
            <h2 class="unselectable clickable" onclick="location.href = '/'">코디</h2>
            <div class="menubox">
                <button class="unselectable clickable" onclick="location.href='/profile'">내 프로필</button>
                <button class="unselectable clickable commu" onclick="location.href='/list'">커뮤니티</button>
                <button class="unselectable clickable" onclick="location.href='https://milkey-way.github.io/cody_web'">로드맵</button>
                <button class="unselectable clickable">가이드</button>
                <div class="unselectable clickable usermenu"></div>
                <img th:src="@{/icons/bell.png}" class="bell">
                <div class="space">
                    <span class="user" th:text="${community.userName}"></span> <span class="nim">님</span>
                    <span class="logout"><a href="/user/logout">로그아웃</a></span>
                </div>
            </div>
        </div>
    </header>

    <form class="form" th:action="@{/community/edit/{id}(id = ${community.id})}"  method="POST" enctype="multipart/form-data">
        <input type="text" class="title" id="inputTitle" name="community_title" placeholder="제목을 입력하세요" th:value="${community.community_title}" >
        <div class="line"></div>
        <input type="hidden" name="_method" value="PUT">
        <div class="file">
            <input id="img-selector" type="file" name="attachFile"/>
            <div class="editor-menu">
                <button id="btn-bold"><b>B</b></button>
                <button id="btn-italic"><i>I</i></button>
                <button id="btn-underline"><u>U</u></button>
                <button id="btn-image"><img class="photo" th:src="@{/icons/photo.png}"></button>
            </div>
        </div>
        <div id="editor">
            <div id="editor_text"  class="content" contenteditable="true" placeholder="내용을 입력하세요">
                <div th:text="${community.community_contents}"></div>
                <img th:if="${community.imgWhether} == true" th:src="|/image/${community.getUploadFile().getImagePath()}|">
            </div>
        </div>
        <input type="hidden" class="" name="community_contents" id="inputContent" >
        <div class="button">
            <button type="submit" class="b" id="submit" onclick="getContents()"><span>글 등록</span></button>
            <a class="cancel" href="/list" value="취소">취소</a>
        </div>
    </form>

</div>
<script>
    const editor = document.getElementById('editor');
    const btnBold = document.getElementById('btn-bold');
    const btnItalic = document.getElementById('btn-italic');
    const btnUnderline = document.getElementById('btn-underline');
    const btnImage = document.getElementById('btn-image');
    const imageSelector = document.getElementById('img-selector');
    const editorText = document.getElementById('editor_text');
    const inputContent = document.getElementById('inputContent');
    const inputTitle = document.getElementById('inputTitle');
    const submit = document.getElementById('submit');

    btnBold.addEventListener('click', function (e) {
        setStyle('bold');
        e.preventDefault();
    });

    btnItalic.addEventListener('click', function (e) {
        setStyle('italic');
        e.preventDefault();
    });

    btnUnderline.addEventListener('click', function (e) {
        setStyle('underline');
        e.preventDefault();
    });

    btnImage.addEventListener('click', function (e) {
        imageSelector.click();
        e.preventDefault();
    });

    editor.addEventListener('mousedown', function (e) {
        document.execCommand(style);
        checkStyle();
        e.preventDefault();
    });

    function setStyle(style) {
        document.execCommand(style);
        focusEditor();
    }

    function focusEditor() {
        editor.focus({preventScroll: true});
    }

    imageSelector.addEventListener('change', function (e) {
        const files = e.target.files;
        if (!!files) {
            insertImageDate(files[0]);
        }
    });

    function insertImageDate(file) {
        const reader = new FileReader();
        reader.addEventListener('load', function (e) {
            focusEditor();
            document.execCommand('insertImage', false, `${reader.result}`);
        });
        reader.readAsDataURL(file);
    }

    function checkStyle() {
        if (isStyle('bold')) {
            btnBold.classList.add('active');
        } else {
            btnBold.classList.remove('active');
        } if (isStyle('italic')) {
            btnItalic.classList.add('active');
        } else{
            btnItalic.classList.remove('active');
        } if (isStyle('underline')) {
            btnUnderline.classList.add('active');
        } else {
            btnUnderline.classList.remove('active');
        }
    }

    function isStyle(style) {
        return document.queryCommandState(style);
    }
    function getContents() {
        inputContent.value = editorText.innerText;
        return true;
    }
</script>
</body>
</html>