<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <title>Cody-login</title>
</head>
<body>
<div class="login">
    <div th:if="${param.error}" class="" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <p>닉네임 혹은 패스워드가 정확하지 않습니다.</p>
        <p>닉네임과 패스워드를 확인해 주세요</p>
    </div>
    <div class="loginform">
        <div class="form">
            <form action="/user/login" method="post">
                <div class="logo"><a href="/">코디</a></div>
                <div class="welcome">
                    코디에 오신 것을 환영합니다!
                </div>
                <div class="form1">
                    <div class="id">아이디</div>
                    <input type="text" class="idbox" name="username">
                </div>
                <div class="form1">
                    <div class="id">비밀번호</div>
                    <input type="password" class="idbox" name="password">
                </div>
                <div class="form1">
                    <button class="log"><span>로그인</span></button>
                </div>
            </form>
            <div class="form2">
                <button class="find" onclick="location.href='/user/findid'"><span>아이디 찾기</span></button>
                <button class="find" onclick="location.href='/user/findpw'"><span>비밀번호 찾기</span></button>
            </div>
            <div class="form1">
                <button class="kakaolog" onclick="location.href='https://kauth.kakao.com/oauth/authorize?client_id=5f366d763b42c71ea2d61c5f717b8520&redirect_uri=http://localhost:8080/user/kakao/callback&response_type=code'"><span>카카오로 로그인하기</span></button>
            </div>
            <div class="form1">
                <button class="signup" onclick="location.href='/user/signup'"><span>회원가입</span></button>
            </div>
        </div>
    </div>
</div>
<script th:replace="fragments.html :: form-validation"></script>
</body>
</html>