<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="코디">
    <meta property="og:description" content="개발자들이 모여 소통하고, 나만의 진로 로드맵을 만들어보세요!">
    <!--    <meta property="og:image" content="">-->
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/fontloader.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/maincontent.css}">
    <link rel="stylesheet" th:href="@{/css/board.css}">
    <script type="text/javascript" th:src="@{/scripts/common.js}"></script>
    <script type="text/javascript" th:src="@{/scripts/main.js}"></script>
    <title>Cody</title>
</head>
<body>
<header>
    <div class="header_wrap">
        <h2 class="unselectable clickable" onclick="location.href = '/'">코디</h2>
        <div class="menubox">
            <button class="unselectable clickable" onclick="location.href='/profile'">내 프로필</button>
            <button class="unselectable clickable commu" onclick="location.href='/list'">커뮤니티</button>
            <button class="unselectable clickable" onclick="location.href='https://milkey-way.github.io/cody_web'">로드맵</button>
            <button class="unselectable clickable">가이드</button>
            <div class="unselectable clickable usermenu"></div>
            <img th:src="@{/icons/bell.png}" class="bell">
            <div class="space">
                <span class="user" th:text="${username}"></span> <span class="nim">님</span>
                <span class="logout"><a href="/user/logout">로그아웃</a></span>
            </div>
        </div>
    </div>
</header>
<main>
    <div class='sliderframe'>
        <div class='slidercontent'>
            <div class='sliderarea'>
                <div class="banneritems"></div>
            </div>
            <div class='contentIndexes'></div>
        </div>
    </div>
    <div class="maincontent" style="height: 1024px;">
        <div class="loadmap_header">
            <h4>커뮤니티</h4>
            <button onclick="location.href='/list'">더보기 ></button>
        </div>

        <div class="loadmap_content" th:if="${!bestCommunityList.isEmpty() && bestCommunityList != null}">
            <div class="loadmap_card" th:each="bestCommunity : ${bestCommunityList}">
                <img class="loadmap_preview" th:if="${bestCommunity.imgWhether} == false" src="./imgs/noneImage.png">
                <img class="loadmap_preview"  th:if="${bestCommunity.imgWhether} == true" th:src="|/image/${bestCommunity.getUploadFile().getImagePath()}|">
                <h4 th:onclick="'location.href=\'/community/'+ @{${bestCommunity.id}} + '\''" th:text="${bestCommunity.community_title}"></h4>
                <h3 th:text="'작성자: ' + ${bestCommunity.userName}+ ' | 좋아요: ' + ${bestCommunity.likeCounts}"></h3>
            </div>
        </div>

        <div class="loadmap_content" th:if="${bestCommunityList.isEmpty() || bestCommunityList == null}">
            <div class="loadmap_card">
                <img class="loadmap_preview" src="./imgs/noneImage.png">
                <h4>해외 호텔 조리사 되기</h4>
                <h3>호텔조리학과 | 떡볶이맛 칵테일</h3>
            </div>
            <div class="loadmap_card">
                <img class="loadmap_preview" src="./imgs/noneImage.png">
                <h4>해외 호텔 조리사 되기</h4>
                <h3>호텔조리학과 | 떡볶이맛 칵테일</h3>
            </div>
            <div class="loadmap_card">
                <img class="loadmap_preview" src="./imgs/noneImage.png">
                <h4>해외 호텔 조리사 되기</h4>
                <h3>호텔조리학과 | 떡볶이맛 칵테일</h3>
            </div>
        </div>
    </div>
</main>
<footer>
</footer>
</body>
</html>