<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>비밀번호 변경</title>
</head>
<body>
    <form>
        <div>
            <label>비밀번호</label>
            <input type="password" name="password">
        </div>
        <div>
            <label>비밀번호 확인</label>
            <input type="password" name="password">
            <Button>비밀번호 변경 확인</Button>
        </div>
        <Button id="psup">비밀번호 변경</Button>
    </form>
</body>
<script type="javascript">

</script>
</html>