<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/signup.css}">
    <title>Signup</title>
</head>
<body>
<form class="signup" th:action="@{/user/signup}" method="post">
    <div class="signupform">
        <div class="form">
            <div class="logo"><a href="/">코디</a></div>
            <div class="welcome">
                회원가입
            </div>
            <div class="form1">
                <div class="id">아이디</div>
                <input type="text" class="idbox" name="username">
            </div>
            <div class="form1">
                <div class="id">비밀번호</div>
                <input type="password" class="idbox" name="password">
            </div>
            <div class="form1">
                <div class="id">이메일</div>
                <input type="text" class="idbox" name="email">
            </div>
            <div class="form2">
                <button class="log" type="submit"><a th:href="@{/user/login}">회원가입</a></button>
            </div>
        </div>
    </div>
</form>
</body>
</html>